<footer class="footer-wrapper">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-8 text-center text-md-start">
        <p class="mb-0">© <span class="currentYear">2026</span> UrbanHub. Proudly powered by <a href="javascript:void(0);">LayoutDrop</a>.</p>
      </div>
      <div class="col-md-4">
        <ul class="d-flex list-inline mb-0 gap-4 flex-wrap justify-content-center justify-content-md-end">
          <li>
            <a class="text-body" href="index.html">Home</a>
          </li>
          <li>
            <a class="text-body" href="pages/faq.html">Faq's</a>
          </li>
          <li>
            <a class="text-body" href="pages/faq.html">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
