<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="echeances" href="/tabs/echeances">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Échéances</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
      @if (notifState.unreadCount() > 0) {
        <ion-badge color="danger">{{ notifState.unreadCount() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
