<aside class="app-menubar" id="menubar">
  <button class="app-toggler" type="button">
    <i class="fi fi-br-angle-small-left"></i>
  </button>
  <div class="app-navbar-brand">
    <a class="navbar-brand-logo" href="index.html">
      <img src="/assets/images/logo.svg" alt="UrbanHub Admin Dashboard">
    </a>
    <a class="navbar-brand-mini visible-light" href="index.html">
      <img src="/assets/images/logo-text.svg" alt="UrbanHub Admin Dashboard">
    </a>
    <a class="navbar-brand-mini visible-dark" href="index.html">
      <img src="/assets/images/logo-text-white.svg" alt="UrbanHub Admin Dashboard">
    </a>
  </div>
  <nav class="app-navbar" data-simplebar>
    <ul class="menubar">
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);">
          <i class="icon-house"></i>
          <span class="menu-label">Dashboard</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="index.html">
              <span class="menu-label">Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="index-3.html">
              <span class="menu-label">Agent Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="index-4.html">
              <span class="menu-label">Analytics Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="add-agent.html">
              <span class="menu-label">Add Agents</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="all-agents.html">
              <span class="menu-label">All Agents</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="agent-profile.html">
              <span class="menu-label">Agent Profile</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="add-property.html">
              <span class="menu-label">Add Property</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="property-list.html">
              <span class="menu-label">Property List</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="property-grid.html">
              <span class="menu-label">Property Grid</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="property-details.html">
              <span class="menu-label">Property Details</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="chat.html">
          <i class="icon-message-square-text"></i>
          <span class="menu-label">Chat</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="calendar.html">
          <i class="icon-calendar-days"></i>
          <span class="menu-label">Calendar</span>
        </a>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-mail-open"></i>
          <span class="menu-label">Email</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="email/inbox.html">
              <span class="menu-label">Inbox</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="email/compose.html">
              <span class="menu-label">Compose</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="email/read-email.html">
              <span class="menu-label">Read email</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-file"></i>
          <span class="menu-label">Pages</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="pages/pricing.html">
              <span class="menu-label">Pricing</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="pages/faq.html">
              <span class="menu-label">FAQ's</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="pages/coming-soon.html">
              <span class="menu-label">Coming Soon</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="pages/error-404.html">
              <span class="menu-label">Error 404</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-circle-user-round"></i>
          <span class="menu-label">Authentication</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="authentication/login.html">
              <span class="menu-label">Login</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="authentication/register.html">
              <span class="menu-label">Register</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="authentication/forgot-password.html">
              <span class="menu-label">Forgot Password</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="authentication/new-password.html">
              <span class="menu-label">New Password</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-folder-open"></i>
          <span class="menu-label">UI Components</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="components/accordion.html">
              <span class="menu-label">Accordion</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/alerts.html">
              <span class="menu-label">Alerts</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/badge.html">
              <span class="menu-label">Badge</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/breadcrumb.html">
              <span class="menu-label">Breadcrumb</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/buttons.html">
              <span class="menu-label">Buttons</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/typography.html">
              <span class="menu-label">Typography</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/button-group.html">
              <span class="menu-label">Button Group</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/card.html">
              <span class="menu-label">Card</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/collapse.html">
              <span class="menu-label">Collapse</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/carousel.html">
              <span class="menu-label">Carousel</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/dropdowns.html">
              <span class="menu-label">Dropdowns</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/modal.html">
              <span class="menu-label">Modal</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/list-group.html">
              <span class="menu-label">List Group</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/tabs.html">
              <span class="menu-label">Tabs</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/offcanvas.html">
              <span class="menu-label">Offcanvas</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/pagination.html">
              <span class="menu-label">Pagination</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/popovers.html">
              <span class="menu-label">Popovers</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/progress.html">
              <span class="menu-label">Progress</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/scrollspy.html">
              <span class="menu-label">Scrollspy</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/spinners.html">
              <span class="menu-label">Spinners</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/toasts.html">
              <span class="menu-label">Toasts</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="components/tooltips.html">
              <span class="menu-label">Tooltips</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-star"></i>
          <span class="menu-label">Icons</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="icons/flaticon.html">
              <span class="menu-label">Flaticon</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="icons/lucide.html">
              <span class="menu-label">Lucide</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="icons/fontawesome.html">
              <span class="menu-label">Font Awesome</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-file-text"></i>
          <span class="menu-label">Form Elements</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="forms/form-elements.html">
              <span class="menu-label">Form Elements</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/form-floating.html">
              <span class="menu-label">Form floating</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/form-input-group.html">
              <span class="menu-label">Form input group</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/form-layout.html">
              <span class="menu-label">Form layout</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/form-validation.html">
              <span class="menu-label">Form validation</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/flatpickr.html">
              <span class="menu-label">Flatpickr</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="forms/tagify.html">
              <span class="menu-label">Tagify</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-table-2"></i>
          <span class="menu-label">Table</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="table/tables-basic.html">
              <span class="menu-label">Table</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="table/tables-datatable.html">
              <span class="menu-label">Datatable</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-chart-pie"></i>
          <span class="menu-label">Charts</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="chart/apexchart.html">
              <span class="menu-label">Apex Chart</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="chart/chartjs.html">
              <span class="menu-label">Chart JS</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-map-pinned"></i>
          <span class="menu-label">Maps</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item">
            <a class="menu-link" href="maps/jsvectormap.html">
              <span class="menu-label">JS Vector Map</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="maps/leaflet.html">
              <span class="menu-label">Leaflet</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="javascript:void(0);">
          <i class="icon-badge-percent"></i>
          <span class="menu-label">Badge</span>
          <span class="badge badge-sm rounded-pill bg-secondary ms-2 float-end">5</span>
        </a>
      </li>
      <li class="menu-item menu-arrow">
        <a class="menu-link" href="javascript:void(0);" role="button">
          <i class="icon-layers"></i>
          <span class="menu-label">Multi Level</span>
        </a>
        <ul class="menu-inner">
          <li class="menu-item menu-arrow">
            <a class="menu-link" href="javascript:void(0);">
              <span class="menu-label">Multi Level 2</span>
            </a>
            <ul class="menu-inner">
              <li class="menu-item">
                <a class="menu-link" href="javascript:void(0);">
                  <span class="menu-label">Multi Level 3</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="javascript:void(0);">
                  <span class="menu-label">Multi Level 3</span>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="javascript:void(0);">
                  <span class="menu-label">Multi Level 3</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="app-footer">
    <a href="pages/faq.html" class="btn btn-outline-light btn-shadow btn-app-nav w-100">
      <i class="fi fi-rs-interrogation text-primary"></i>
      <span class="nav-text">Help and Support</span>
    </a>
  </div>
</aside>
