<header class="app-header">
  <div class="app-header-inner">
    <div class="app-header-start">
      <button class="app-toggler" type="button">
        <i class="fi fi-br-angle-small-left"></i>
      </button>
      <div class="app-header-brand">
        <a class="navbar-brand-logo">
          <img src="/assets/images/logo.svg" alt="UrbanHub Admin Dashboard">
        </a>
        <a class="navbar-brand-mini visible-light">
          <img src="/assets/images/logo-text.svg" alt="UrbanHub Admin Dashboard">
        </a>
        <a class="navbar-brand-mini visible-dark" >
          <img src="/assets/images/logo-text-white.svg" alt="UrbanHub Admin Dashboard">
        </a>
      </div>
      <form class="d-none d-xl-flex align-items-center h-100 w-lg-250px w-xxl-300px position-relative" action="#">
        <input type="text" class="form-control px-sm-3 bg-light" placeholder="Search anything">
        <button type="button" class="btn btn-sm text-primary border-0 position-absolute end-0 me-3 p-0">
          <i class="fi fi-rr-search"></i>
        </button>
      </form>
    </div>
    <div class="app-header-end">
      <div class="d-flex align-items-center gap-sm-2 gap-0 px-lg-2 px-sm-2 px-1">
        <div class="dropdown text-end">
          <a (click)="toggleDropdown()" class="d-flex align-items-center py-2" style="cursor: pointer;">
            <div class="text-end me-2 d-none d-lg-inline-block">
              <div class="fw-bold text-dark">
                @if(infos(); as userInfos){
                  {{ (userInfos.nom)  | titlecase}}
                }
              </div>
              <small class="text-body d-block lh-sm">
                <i class="fi fi-rr-angle-down text-3xs me-1"></i>
                @if(infos(); as userInfos){
                  {{ (userInfos.role)  | titlecase}}
                }
              </small>
            </div>
            <div class="avatar avatar-sm rounded-circle avatar-status-success">
              @if(infos(); as userInfos){
                <img [src]="infos()?.avatar || '/assets/images/avatar/avatar1.webp'" alt="">
              }

            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end w-225px mt-1" [class.show]="isDropdownOpen()" style="right: 0; left: auto;">
            <li class="d-flex align-items-center p-2">
              <div class="avatar avatar-sm rounded-circle">
                <img [src]="infos()?.avatar || '/assets/images/avatar/avatar1.webp'"
                     alt="Avatar"
                     class="avatar avatar-xs rounded-circle" />
              </div>
              <div class="ms-2">
                <div class="fw-bold text-dark">
                  @if(infos(); as userInfos){
                    {{ (userInfos.nom)  | titlecase}}
                  }
                </div>
                <small class="text-body d-block lh-sm">
                  @if(infos(); as userInfos){
                   +228 {{ userInfos.telephone | phoneFormat }}
                  }
                </small>
              </div>
            </li>
            <li>
              <div class="dropdown-divider my-1"></div>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" [routerLink]="[lienProfil()]">
                <i class="fi fi-rr-user scale-1x"></i> Mon Profile
              </a>
            </li>
            <li>
              <div class="dropdown-divider my-1"></div>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 text-danger" (click)="logout()">
                <i class="fi fi-sr-exit scale-1x"></i> Déconnecter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
