<header class="app-header">
  <div class="app-header-inner">
    <div class="app-header-start">
      <button class="app-toggler" type="button">
        <i class="fi fi-br-angle-small-left"></i>
      </button>
      <div class="app-header-brand">
        <a class="navbar-brand-logo" href="index.html">
          <img src="/assets/images/logo.svg" alt="UrbanHub Admin Dashboard">
        </a>
        <a class="navbar-brand-mini visible-light" href="index.html">
          <img src="/assets/images/logo-text.svg" alt="UrbanHub Admin Dashboard">
        </a>
        <a class="navbar-brand-mini visible-dark" href="index.html">
          <img src="/assets/images/logo-text-white.svg" alt="UrbanHub Admin Dashboard">
        </a>
      </div>
      <form class="d-none d-xl-flex align-items-center h-100 w-lg-250px w-xxl-300px position-relative" action="#">
        <input type="text" class="form-control px-sm-3 bg-light" placeholder="Search anything">
        <button type="button" class="btn btn-sm text-primary border-0 position-absolute end-0 me-3 p-0">
          <i class="fi fi-rr-search"></i>
        </button>
      </form>
    </div>
    <div class="app-header-end">
      <div class="d-flex align-items-center gap-sm-1 gap-0 px-lg-2 px-sm-2 px-1">
        <div class="dropdown text-end">
          <a href="javascript:void(0);" class="btn btn-icon btn-action-gray" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">
            <i class="icon-bell">
              <span class="visually-hidden">New alerts</span>
            </i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg-end p-0 w-300px mt-2">
            <div class="px-3 py-3 border-bottom d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Notifications <span class="badge badge-sm rounded-pill bg-primary ms-1">9</span>
              </h6>
              <i class="bi bi-x-lg cursor-pointer"></i>
            </div>
            <div class="p-2" style="height: 300px;" data-simplebar>
              <ul class="list-group list-group-hover list-group-smooth list-group-unlined">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs avatar-status-success rounded-circle me-1">
                    <img src="/assets/images/avatar/avatar2.webp" alt="">
                  </div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Emma Smith</h6>
                    <small class="text-body d-block">Need to update the details.</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">7 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs bg-success rounded-circle text-white">D</div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Design Team</h6>
                    <small class="text-body d-block">Check your shared folder.</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">6 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs bg-dark rounded-circle text-white">
                    <i class="fi fi-rr-lock"></i>
                  </div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Security Update</h6>
                    <small class="text-body d-block">Password successfully set.</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">5 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs bg-info rounded-circle text-white">
                    <i class="fi fi-rr-shopping-cart"></i>
                  </div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Invoice #1432</h6>
                    <small class="text-body d-block">has been paid Amount: $899.00</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">5 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs bg-danger rounded-circle text-white">R</div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Emma Smith</h6>
                    <small class="text-body d-block">added you to Dashboard Analytics</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">5 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs avatar-status-success rounded-circle me-1">
                    <img src="/assets/images/avatar/avatar3.webp" alt="">
                  </div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Olivia Clark</h6>
                    <small class="text-body d-block">You can now view the “Report”.</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">4 hr ago</small>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="avatar avatar-xs avatar-status-danger rounded-circle me-1">
                    <img src="/assets/images/avatar/avatar5.webp" alt="">
                  </div>
                  <div class="ms-2 me-auto">
                    <h6 class="mb-0">Isabella Walker</h6>
                    <small class="text-body d-block">@Isabella please review.</small>
                    <small class="text-muted position-absolute end-0 top-0 mt-2 me-3">2 hr ago</small>
                  </div>
                </li>
              </ul>
            </div>
            <div class="p-2">
              <a href="javascript:void(0);" class="btn w-100 btn-primary">View all notifications</a>
            </div>
          </div>
        </div>
        <a href="email/inbox.html" class="btn btn-md btn-icon btn-action-gray">
          <i class="icon-message-square-text"></i>
          <span class="visually-hidden">Inbox</span>
        </a>
        <a href="calendar.html" class="btn btn-md btn-icon btn-action-gray d-none d-sm-flex">
          <i class="icon-calendar"></i>
          <span class="visually-hidden">Calendar</span>
        </a>
        <a href="javascript:void(0);" class="btn btn-md btn-icon btn-action-gray theme-btn">
          <i class="icon-sun-medium icon-light"></i>
          <i class="icon-moon icon-dark"></i>
        </a>
      </div>
      <div class="d-flex align-items-center gap-sm-2 gap-0 px-lg-2 px-sm-2 px-1">
        <div class="dropdown text-end">
          <a (click)="toggleDropdown()" class="d-flex align-items-center py-2" style="cursor: pointer;">
            <div class="text-end me-2 d-none d-lg-inline-block">
              <div class="fw-bold text-dark">
                @if(infos(); as userInfos){
                  {{ (userInfos.nom)  | titlecase}}
                }
              </div>
              <small class="text-body d-block lh-sm">
                <i class="fi fi-rr-angle-down text-3xs me-1"></i>
                @if(infos(); as userInfos){
                  {{ (userInfos.role)  | titlecase}}
                }
              </small>
            </div>
            <div class="avatar avatar-sm rounded-circle avatar-status-success">
              @if(infos(); as userInfos){
                <img [src]="infos()?.avatar || '/assets/images/avatar/avatar1.webp'" alt="">
              }

            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end w-225px mt-1" [class.show]="isDropdownOpen()" style="right: 0; left: auto;">
            <li class="d-flex align-items-center p-2">
              <div class="avatar avatar-sm rounded-circle">
                <img [src]="infos()?.avatar || '/assets/images/avatar/avatar1.webp'"
                     alt="Avatar"
                     class="avatar avatar-xs rounded-circle" />
              </div>
              <div class="ms-2">
                <div class="fw-bold text-dark">
                  @if(infos(); as userInfos){
                    {{ (userInfos.nom)  | titlecase}}
                  }
                </div>
                <small class="text-body d-block lh-sm">
                  @if(infos(); as userInfos){
                   +228 {{ userInfos.telephone | phoneFormat }}
                  }
                </small>
              </div>
            </li>
            <li>
              <div class="dropdown-divider my-1"></div>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" [routerLink]="[lienProfil()]">
                <i class="fi fi-rr-user scale-1x"></i> Mon Profile
              </a>
            </li>
            <li>
              <div class="dropdown-divider my-1"></div>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 text-danger" (click)="logout()">
                <i class="fi fi-sr-exit scale-1x"></i> Déconnecter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
